// Fonts
$open-sans:'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$montserrrat : 'Montserrat', sans-serif;
$muli: 'Muli', sans-serif;

// Font weights
$x-light: 200;
$light: 300;
$reg: 400;
$med: 500;
$s-bold: 600;
$bold: 700;
$x-bold: 800;
$blk: 900;

$body-txt: 16px;
$title: 26px;
$sec-title: 22px;

